@charset "UTF-8";
/* *****************************************************************
1. VARIABLES
***************************************************************** */
/*Typography*/
/* *****************************************************************
2. RESET
***************************************************************** */
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
ol,
ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

/* *****************************************************************
3. GENERAL
***************************************************************** */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Gowun Dodum, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #251e27;
  margin: 0;
  padding: 0;
}

main .container {
  background-color: #f2efe3;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}

h1,
h3,
h4 {
  font-family: Pacifico, cursive;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-family: Playfair Display, serif;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

button {
  padding: 0.5em 1em;
  border-radius: 0.3em;
  transition: all 0.3s ease;
  width: auto;
}

button:hover {
  opacity: 80%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* *****************************************************************
4. MAIN LAYOUT ( pour le commun à toutes les pages?)
***************************************************************** */
/*HEADER & BURGER MENU*/
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.header__menu-burger {
  position: absolute;
  right: 2em;
  top: 2em;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #4bad94;
}
.header__logo {
  width: 15rem;
  height: auto;
}
.header__title {
  display: flex;
  flex-direction: row;
  font-size: 3.5rem;
  text-align: center;
}
.header__nav {
  height: 30rem;
  width: 15rem;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -20em;
  background-color: #f2efe3;
  padding-top: 6rem;
  transition: right 0.3s ease;
}
.header__nav a {
  padding: 0.5rem 0.5rem 0.5rem 2.4rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #251e27;
  display: block;
  transition: 0.2s;
}
.header__nav a:hover {
  color: #f2efe3;
  background-color: #ce946b;
}
.header__nav ul {
  padding: 0;
  margin: 0;
}
.header__nav.active {
  right: 0;
}
.header__nav .close {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 3rem;
}

.burger-icon span {
  display: flex;
  flex-direction: row;
  width: 3.5rem;
  height: 0.5rem;
  background-color: #f2efe3;
  margin: 0.6rem 0;
}

/*MAIN*/
.main .container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.main {
  margin: auto;
}
.main-banner__title {
  text-align: center;
  font-size: 3rem;
}
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1em;
}
.main-section-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section__image {
  align-items: center;
  margin-bottom: 1em;
}
.main-section__image img {
  width: 100%;
  border: solid 1px #251e27;
}
.main-section__image__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 0 auto;
}
.main-section__image__gallery img {
  width: 100%;
  height: 100%;
}

/*FOOTER*/
.footer {
  background-color: #4bad94;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content__title {
  margin-bottom: 1em;
}

.footer-content__opening-hours {
  text-align: center;
  padding: 1em;
}

.footer-content__adress {
  text-align: center;
  padding: 1em;
}

.footer-content__adress p {
  margin: 0;
}

.footer-content__social {
  text-align: center;
  padding: 1em;
}

.footer-content__social ul li {
  display: inline;
  cursor: pointer;
}

.footer-content__social i {
  padding: 0.5em;
}

.footer__opening-hours ul,
.footer-content ul,
.footer-content li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h4 {
  text-align: center;
  margin-bottom: 1em;
}

/* *****************************************************************
5. HOME PAGE
***************************************************************** */
/* *****************************************************************
6. ACTIVITES/Pôles PAGE
***************************************************************** */
.main-banner__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Effet sur l'image du texte au survol */
.main-section__image {
  position: relative;
  overflow: hidden;
}

.contact-link {
  color: #4bad94;
  font-weight: bold;
}

.contact-link-p {
  margin-top: 1em;
  text-align: center;
}

/*
.main-section__image:hover img {
  filter: grayscale(100%);
}
*/
.activities-section__image {
  margin: 0 15em;
  transition: 0.3s ease-in-out;
  display: block;
  position: relative;
}

.activities-section__image .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2efe3;
  background-color: #4bad94;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Gowun Dodum", sans-serif;
  text-align: center;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  word-wrap: break-word;
  word-break: break-word;
}

.activities-section__image:hover .hover-text {
  opacity: 1;
}

/* *****************************************************************
7. CAFE PAGE
***************************************************************** */
.events-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.event-card {
  border: 2px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.event-card__title, .event-card__hours, .event-card__button {
  text-align: center;
}
.event-card__title {
  font-family: inherit;
  font-weight: bold;
}
.event-card__image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.event-card__infos {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.button-container {
  text-align: center;
}

.event-card__button {
  background-color: #4bad94;
  color: #f2efe3;
}

.event-card__button:hover {
  background-color: #3c8976;
}

/* *****************************************************************
8. 'LE MUR' PAGE
***************************************************************** */
.main-banner__text {
  text-align: center;
}

.announcement-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.announcement-form input {
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #251e27;
}

.annoucement-form__textaera {
  height: 10em;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #251e27;
}

.annoucement-form__button {
  background-color: #4bad94;
}

.announcement {
  background-color: #fffb87;
  padding: 1em;
  width: 200px;
  height: auto;
  border: 1px solid #e6e156;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
}

.announcement::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
}

.announcement::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.announcements-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

h5 {
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
}

/* *****************************************************************
9. CONTACT PAGE
***************************************************************** */
h2 {
  text-align: center;
  margin-bottom: 1em;
}

.form-section,
.contact-section {
  flex: 1;
  background-color: #f2efe3;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.form-group input,
.form-group select {
  padding: 0.75rem;
  border: 1px solid #251e27;
  border-radius: 5px;
  font-family: inherit;
}
.form-group input::-moz-placeholder {
  color: rgba(37, 30, 39, 0.6);
}
.form-group input::placeholder {
  color: rgba(37, 30, 39, 0.6);
}

button {
  background-color: #4bad94;
  color: #f2efe3;
  border: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  align-self: flex-start; /* Pour aligner le bouton à gauche */
  margin: auto;
}
button:hover {
  background-color: #3c8976;
}

.contact-section {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.contact-section .contact-item {
  background-color: #f2efe3;
  color: #251e27;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

/* *****************************************************************
10. MEDIA QUERIES
***************************************************************** */
/*____________________Version tablette___________________________ */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__wrapper {
    flex-direction: row;
  }
  .events-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  .event-card {
    flex: 1 1 48%;
  }
  .event-card__infos h3 {
    font-size: 1.8rem !important;
  }
  .announcements-wall {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header__title {
    font-size: 5rem;
  }
  .main h2 {
    font-size: 4rem;
  }
  .main h3 {
    font-size: 3rem;
  }
  form {
    width: 60%;
  }
}
/*____________________Version Desktop___________________________ */
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
  main .container {
    margin: 1em auto;
  }
  .header__wrapper {
    flex-direction: row;
  }
  /*Page café */
  .main-section__images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .events-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .event-card {
    flex: 1 1 25%;
  }
  .event-card__infos h3 {
    font-size: 1.6rem !important;
  }
  .announcements-wall {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header__title {
    font-size: 5rem;
  }
  .main h2 {
    font-size: 4rem;
  }
  .main h3 {
    font-size: 3rem;
  }
  .main-section__container {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .main-section__image {
    flex-basis: 40%;
    min-width: 300px;
    width: 100%;
    height: auto;
  }
  .main-section__text {
    flex-basis: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }
  .main-section__text p:first-of-type {
    margin-top: 0;
  }
  section:nth-of-type(even) .main-section__container {
    flex-direction: row-reverse;
  }
  form {
    width: 50%;
  }
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 10em;
    width: 100%;
  }
  footer {
    margin: 0 auto;
  }
}/*# sourceMappingURL=theme.css.map */